@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 26px;
}
a, a:hover{
	text-decoration: none;
	
}


.header_section{
	width: 100%;
	padding: 20px 0px 190px;
	background: url("../img/b1.png") center top no-repeat;
	background-size: cover;
}


.header_section .bg-light {
    background-color: transparent!important;
    width: 100%;
    position: relative;
    z-index: 15;  
}

.header_section .isStuck{
    left:0px;
    width:100%;
    background: #000!important;
}

.header_section .navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid transparent;
    padding: 4px 25px;
}
.header_section .navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
    border: 1px solid #14215e;
    border-radius: 30px;
    background: #14215e;
}



.header_section .btn-custom {
    display: inline-block;
    font-weight: 600;
    color: #14215e;
    border: 1px solid #14215e;
    border-radius: 30px;
    background: #fff;
    margin-left: 20px;
    padding: 4px 25px;
}
.header_section .btn-custom:hover{
    
    color: #fff;
    border: 1px solid #14215e;
    border-radius: 30px;
    background: #14215e;
   }


 .header_inner{
 	width: 100%;
 	padding: 90px 0px;
 	margin-left: 120px;
 }
 .header_inner h1{

  font-size: 40px;
  font-weight: 600;
  padding-bottom: 30px;
  color: #1c2056;
  padding-top: 60px;
  padding-right: 38%;
}
  .header_inner p{
 	
	 font-size: 14px;
  font-weight: 400;
  color: #aca9b8;
  padding-bottom: 30px;
  padding-right: 208px;
 }
 

.header_inner .btn-info{
 	background: #2870db;
 	color: #fff;
 	font-weight: 600;
 	font-size: 18px;
 	padding: 10px 35px;
 	border-radius: 30px;
 	border: 1px solid #2870db;
 	transition: .4s;
 }
 .header_inner .btn-info:hover{
 	background: #fff;
 	color: #2870db;
 	border: 1px solid #2870db;
 }


 .feature1{
 	width: 100%;
 	padding: 80px 0px;
 	background: #fbfcfc;
 }



 .feature_section{
 	width: 100%;
	padding: 120px 0px 60px;
	background: url("../img/b2.png") center top no-repeat;
	background-size: cover;

 }

  .feature_section h1{
  	font-size: 30px;
  	font-weight: 600;
  	color: #263238;
  	/* padding-bottom: 80px; */
  }

  .feature_section .feature_heading{
  	width: 100%;
 	padding: 0px 0px 300px;
 	
  }

  .advocate{
  	width: 100%;
  	background: #fff;
  	padding: 30px;
  	margin-bottom: 50px;
  	border-radius: 10px;
  	margin-top: 40px;
  	box-shadow: 2px 5px 10px #ccc;
  }

 

  .advocate h4{
  	font-size: 20px;
	font-weight: 600;
	color: #263238;
	margin-bottom: 30px;
  }
  .advocate p{
  	font-size: 14px;	
	font-weight: 400;	
	color: #aca9b8; 
  }

  .for_btn{
  	width: 100%;
  	padding: 120px 0px;
  }

 .for_btn .btn-info{
  	background: #2870db;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 30px;
    border: 1px solid #2870db;
    transition: .4s;
}
 .for_btn .btn-info:hover{
 	background: #fff;
 	color: #2870db;
 	border: 1px solid #2870db;
 }
 .advocate_heading_down{
 	width: 100%;
 	padding: 60px 0px;
 }

 .advocate_heading_down h1 {
  font-size: 32px;
  font-weight: 600;
  color: #263238;
  margin-bottom: 0px;
  margin-top: 20px;
}

 .advocate_inner_statistics{
 	width: 100%;
 	padding: 60px 0px;
 }
  .advocate_inner_statistics p{
  	font-size: 14px;	
	font-weight: 400;	
	color: #35434b; 
	padding: 16px 0px;
  }
   .advocate_inner_statistics h2{
   	font-size: 30px;
	font-weight: 700;
	color: #1a56a3;
   }

   .travel_section{
   	width: 100%;
   	padding: 50px 0px;
   	background: #fbfcfc;
   }

   .travel_section h1{
   	font-size: 30px;
	font-weight: 700;
	color: #263238;
   }


 .travel_cards{
 	width: 100%;
 	padding: 20px 0px 280px;
 	background: url("../img/b3ab.png") center top no-repeat;
 	background-size: cover;
 }

 .travel1{
 	width: 100%;
 	/* border: 1px solid #000; */
 	box-shadow: 2px 5px 10px #3d8ce973;
 	border-radius: 20px;
 }
 .travel_pic img{
 	margin-bottom: 20px;
 	border-radius: 10px;
 }

 .travel_inner{
 	width: 100%;
 	padding: 20px;
 	height: 60vh;
 }

.travel_inner h6{
	font-size: 16px;
	font-weight: 700;
	color: #263238;
	margin: 10px 0 15px;
} 
.travel_inner p{
	font-size: 14px;
	line-height: 26px;
	padding-right: 15px;
}


 .travel_inner .btn {
   padding-left: 0px;
   font-weight: 600; 
   margin-bottom: 20px;
 }

 .travel_inner .btn:hover{
 	text-decoration: none!important;
 	color: #1a56a3;
 }

 .footer_widgt{
 	width: 100%;
 	padding: 60px 0px 0px;
 	background: url("../img/ba3a1.png") center bottom no-repeat;
 	background-size: cover;
 }

 .widget_form{
 	width: 100%;
 	background: url("../img/b4.png") center top no-repeat;
 	padding: 72px 0px;
 	border-radius: 10px;
 	margin-bottom: 170px;
 	background-size: cover;
 }

 .widget_form input {
    width: 60%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    padding: 8px 10px;
}

 .widget_form .btn-info{
 	display: inline-block;
 	background: #00aeff;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 30px;
    border: 1px solid #2870db;
    transition: .4s;
    margin-top: 10px;
 }
 .widget_form h1{
 	font-size: 20px;
 	font-weight: 700;
 	color: #fff;
 	padding: 0px 270px 80px;
 }

.footer_section_last{
 width: 100%;
}
.footer_section_last .foot_head{
	font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 20px;
}

.footer_section_last  p{
	font-size: 14px;
    line-height: 1.6;
    color: #fff;
}


.foot_social{
	width: 100%;
	padding: 20px 0px;
}

.foot_social ul{
	display: block;
}

.foot_social ul li{
	display: inline-block;
	list-style: none;
	margin-right: 15px;
	


}

.foot_social ul li a{
	text-align: center;
	text-decoration: none;
}



.foot_social ul li .fa{

	width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fff;
    color: #2376cf;
    font-size: 16px;
    line-height: 29px;
    margin-top: 15px;
}

.foot_social ul li .fa:hover{
	background: #2376cf;
	color: #fff;
}